<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<?php setlocale(LC_ALL, 'id_ID'); ?>
	<?php $sBulans = array( //asu lah
		1=>"Januari",
		2=>"Februari",
		3=>"Maret",
		4=>"April",
		5=>"Mei",
		6=>"Juni",
		7=>"Juli",
		8=>"Agustus",
		9=>"September",
		10=>"Oktober",
		11=>"November",
		12=>"Desember"
	); ?>
    <title>Laporan <?=ucwords($laporan)." ".$sBulans[$bulan]." ".$tahun;?> - Raja Laundry</title>
    <link rel="stylesheet" href="<?=base_url();?>assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="<?=base_url();?>assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="<?=base_url();?>assets/css/datatables.min.css">
    <link rel="stylesheet" href="<?=base_url();?>assets/css/style.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Raja Laundry</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="<?=base_url();?>"><span>Dashboard</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="<?=base_url();?>customer"><span>Customer</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="<?=base_url();?>pesanan"><span>Pesanan</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="<?=base_url();?>pengeluaran"><span>Pengeluaran</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="<?=base_url();?>laporan"><span>Laporan</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button></div>
                </nav>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header d-xl-flex align-items-xl-center clearfix">
                                    <h4 class="text-primary d-inline-block d-flex align-items-center align-middle h-100">Laporan</h4>
									<div class="btn-group  ml-3">
										<div class="dropdown d-inline-block btn-group">
											<button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"><?=ucwords($laporan);?></button>
											<div class="dropdown-menu" role="menu">
												<a class="dropdown-item" role="presentation" href="<?="{$baseUrl}pesanan/{$tahun}/{$bulan}";?>">Pesanan</a>
												<a class="dropdown-item" role="presentation" href="<?="{$baseUrl}customer/{$tahun}/{$bulan}";?>">Customer</a>
												<a class="dropdown-item" role="presentation" href="<?="{$baseUrl}paket/{$tahun}/{$bulan}";?>?>">Paket</a>
											</div>
										</div>
										<div class="dropdown d-inline-block btn-group">
											<button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">
												<?=$sBulans[$bulan];?>
											</button>
											<div class="dropdown-menu" role="menu">
												<?php foreach($bulans as $bulani){ ?>
													<a class="dropdown-item" role="presentation" href="<?="{$baseUrl}{$laporan}/{$tahun}/{$bulani->BULAN}";?>">
														<?=$sBulans[$bulani->BULAN];?>
													</a>
												<?php } ?>
											</div>
										</div>
										<div class="dropdown d-inline-block btn-group">
											<button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"><?=$tahun;?></button>
											<div class="dropdown-menu" role="menu">
												<?php foreach($tahuns as $tahuni){ ?>
													<a class="dropdown-item" role="presentation" href="<?="{$baseUrl}{$laporan}/{$tahuni->TAHUN}/{$bulan}";?>">
														<?=$tahuni->TAHUN;?>
													</a>
												<?php } ?>
											</div>
										</div>
									</div>
									<div id="table-export-buttons" class="ml-auto clearfix"></div>
                                </div>
                                <div class="card-body">
									<?php if($laporan=="pesanan") { ?>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Customer</th>
                                                    <th>Nota</th>
                                                    <th>Pesan</th>
                                                    <th>Lunas</th>
                                                    <th>Ambil</th>
                                                    <th>Kupon</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
												<?php foreach($items as $item){ ?>
                                                <tr>
                                                    <td><?=$item->ID_PESANAN;?></td>
                                                    <td><?=$item->NAMA_CUSTOMER;?></td>
                                                    <td><?=$item->NOTA;?></td>
                                                    <td><?=$item->TANGGAL_PESANAN;?></td>
                                                    <td><?=$item->TANGGAL_LUNAS;?></td>
                                                    <td><?=$item->TANGGAL_AMBIL;?></td>
													<td><?=$item->POTONGAN;?></td>
													<td><?=$item->TOTAL;?></td>
                                                </tr>
												<?php } ?>
                                            </tbody>
                                        </table>
                                    </div>
									<?php } ?>
									<?php if($laporan=="customer"){ ?>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Customer</th>
                                                    <th>Pesanan</th>
                                                    <th>Pembayaran</th>
                                                    <th>Kupon</th>
                                                </tr>
                                            </thead>
                                            <tbody>
												<?php foreach($items as $item){ ?>
                                                <tr>
                                                    <td><?=$item->ID_CUSTOMER;?></td>
                                                    <td><?=$item->NAMA_CUSTOMER;?></td>
                                                    <td><?=$item->JUMLAH_PESANAN;?></td>
                                                    <td><?=$item->TOTAL;?></td>
                                                    <td><?=$item->KUPON;?></td>
                                                </tr>
												<?php } ?>
                                            </tbody>
                                        </table>
                                    </div>
									<?php } ?>
									<?php if($laporan=="paket"){ ?>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Paket</th>
                                                    <th>Unit</th>
                                                    <th>Pesanan</th>
                                                    <th>Qty</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
												<?php foreach($items as $item){ ?>
                                                <tr>
                                                    <td><?=$item->ID_PAKET;?></td>
                                                    <td><?=$item->PAKET;?></td>
                                                    <td><?=$item->UNIT;?></td>
                                                    <td><?=$item->JUMLAH_PESANAN;?></td>
                                                    <td><?=$item->JUMLAH_ITEM;?></td>
                                                    <td><?=$item->TOTAL;?></td>
                                                </tr>
												<?php } ?>
                                            </tbody>
                                        </table>
                                    </div>
									<?php } ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Raja Laundry 2019</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="<?=base_url();?>assets/js/jquery.min.js"></script>
    <script src="<?=base_url();?>assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="<?=base_url();?>assets/js/theme.js"></script>
    <script src="<?=base_url();?>assets/js/datatables.min.js"></script>
	<script>
		$(document).ready(function(){
			var dataTable = $("table").DataTable( {
				buttons: [
					"csv", "excel", "pdf", "print"
					/*
					{
						extend:    'csv',
						text:      'CSV',
						titleAttr: 'CSV',
						className: 'btn btn-primary btn-sm',
						exportOptions: {
							columns: ':visible'
						}
					},
					{
						extend:    'excel',
						text:      'Excel',
						titleAttr: 'Excel',
						className: 'btn btn-primary btn-sm',
						exportOptions: {
							columns: ':visible'
						}
					},
					{
						extend:    'pdf',
						text:      'PDF',
						titleAttr: 'PDF',
						className: 'btn btn-primary btn-sm',
						exportOptions: {
							columns: ':visible'
						}
					},
					{
						extend:    'print',
						text:      'Print',
						titleAttr: 'Print',
						className: 'btn btn-primary btn-sm',
						exportOptions: {
							columns: ':visible'
						}
					}*/
				]
			} );
			
			dataTable.buttons().container()
				.appendTo( '#table-export-buttons' );
		});
	</script>
</body>

</html>